antlr4-python3-runtime
anyio
appdirs
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
arviz
asttokens
async-lru
attrs
Babel
beautifulsoup4
binaryornot
bleach
boltons
Bottleneck
Brotli
build
cachetools
cffi
chardet
charset-normalizer
click
cloudpickle
comm
contourpy
cookiecutter
cryptography
cycler
debugpy
decorator
defusedxml
distro
dm-tree
dynaconf
executing
fastjsonschema
fastprogress
fastreg
fonttools
fqdn
frozendict
h5netcdf
h5py
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab_server
kedro
kedro-telemetry
kiwisolver
markdown-it-py
markdown2
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
omegaconf
overrides
packaging
pandas
pandocfilters
parse
parso
patsy
pexpect
pillow
pip
platformdirs
pluggy
ply
polars
pre-commit-hooks
prometheus-client
psutil
ptyprocess
pure-eval
pycosat
pycparser
Pygments
pymc
pyparsing
pyproject_hooks
PySocks
pyspread
pytensor
python-json-logger
python-slugify
pytoolconfig
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
ruamel.yaml
scipy
Send2Trash
setuptools
sip2
six
smmap
sniffio
soupsieve
stack-data
statsmodels
terminado
text-unidecode
threadpoolctl
tinycss2
toml
tornado
tqdm
traitlets
truststore
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xarray
xarray-einstats
zipp
zstandard
fastapi
torch
SQLAlchemy
